<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    <script src="${pageContext.request.contextPath}/js/medecin.js"></script>-->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Admin | Home</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#service").change(function(){
            if($("#service").val()===""){
                $("#specialite").empty();
                return;
            }
            $.ajax({
                url:'/param/service/'+$("#service").val(),
                type:'GET',
                dataType:'json',
                success:function(data){
                    var option="";
                    data.forEach((e)=>{
                        option+="<option value='"+e.id+"'>"+e.libelle+"</option>";
                    });
                    $("#specialite").empty();
                    $("#specialite").append(option);
                },
                error:function (err) {
                    console.log(err);
                }
            })
        });
    })
    function showform() {
        if(document.getElementById('frm').hidden===true){
            document.getElementById('frm').hidden=false;
            document.getElementById('button').innerText="X";
        }
        else{
            document.getElementById('frm').hidden=true;
            document.getElementById('button').innerText="Nouveau Caissier";
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12"><br/><br/>
            <button type="button" class="btn btn-primary" id="button" onclick="showform()">Nouveau Caissier</button>
            <form method="post" th:action="@{/caissier/addcaissier}" th:object="${caissier}" id="frm" hidden>
                <div class="form-group form-row">
                    <div class="form-group col-md-6">
                        <label for="prenom">Prenom</label>
                        <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Saisissez votre prenom ici..."/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" class="form-control" id="nom" placeholder="Saisissez votre nom ici..."/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nci">Nci</label>
                        <input type="text" name="nci" class="form-control" id="nci" placeholder="Saisissez votre nci ici..."/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telephone">Telephone</label>
                        <input type="text" name="telephone" class="form-control" id="telephone" placeholder="Saisissez votre telephone ici..."/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numContrat">Numero Contrat</label>
                    <input type="text" name="numContrat" class="form-control" id="numContrat" placeholder="Saisissez votre numero de contrat ici..."/>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <input type="hidden" name="action" value="add">
            </form>
            <br/>
            <h4>Liste des medecins</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>Prenom & Nom</th>
                    <th>Telephone</th>
                    <th>Nci</th>
                    <th>numContrat</th>
                    <th>Code</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="caissier:${caissiers}">
                        <td>
                            <input type="checkbox" class="checkthis" />
                        </td>
                        <td th:text="${caissier.prenom}+${' '}+${caissier.nom}"></td>
                        <td th:text="${caissier.telephone}"></td>
                        <td th:text="${caissier.nci}"></td>
                        <td th:text="${caissier.numContrat}"></td>
                        <td th:text="${caissier.code}"></td>
                        <td>
                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--
Created by Ousmane MBALLO.
User: mballoS
Date: 09/09/2020
Time: 01:53
-->
</body>
</html>
